body {
    font-family: sans-serif;
}

h1#headline {
    text-align: center;
    margin-top: 50px;
}

.globalActionContainer {
    padding: 25px;
}

.globalActionContainer button {
    margin-right: 15px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.leaderboardUserContainer {
    margin-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    clear: both;
}

.leaderboardUserContainer div {
    display: inline-block;
}

.position {
    font-size: 1.5rem;
    font-weight: bold;
    width: 35px;
}

.leaderboardUserContainer .userName {
}

.count {
    float: right;
    padding-top: 10px;
}


#contentContainer {
    padding: 25px;
}

#leaderboardContainer {
    padding: 25px;
}

.challengeContainer {
    padding-right: 35px;
    padding-bottom: 0;
}

.challengeTitle {
    padding: 15px;
    background: #eee;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}

.selectionContainer {
    padding: 15px;
}

.userContainer {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
}

.userName {
    font-weight: bold;
}

.actionContainer {
    margin-top: 5px;
}

.checkButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

