table th {
    text-align: left;
}

table tr.challengeSpacer {
    height: 5px;
}

table tr.userSpacer {
    height: 25px;
}

table .firstColumn {
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    word-break: break-all;
}
